---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Social from '../components/Social.astro';

import '../styles/global.css';
import '../styles/index.css';

const pageTitle = "Hello!";

const identity = {
	country: "England",
	city: "Norwich",
	occupation: "Computer Science Student",
	occupation_company: "the University of East Anglia"
};

function getTodaysDate() {
	var today = new Date();
	var dd = String(today.getDate());
	var mm = String(today.getMonth() + 1);
	return dd + "/" + mm;
};

const birthday = "23/04";

const education = [{
						location:"University of East Anglia",
						website:"https://www.uea.ac.uk/",
						title:"Computing Sciences",
						start: "2024",
						end: "ongoing",
						skills: ["HTML", "CSS", "JavaScript", "PostgreSQL", "Java", "Advanced Maths"],
						grades: [[false, "Pending"]]
					},
					{
						location:"Thorpe St Andrew School & Sixth Form",
						website:"https://tsa-edu.co.uk/",
						title:"A-Level",
						start: "2022",
						end: "2024",
						skills: ["Python", "Maths"],
						grades: [["Further Mathematics", "A*"],
								["Mathematics", "A*"],
								["Computer Science", "A"],
								["Physics", "B"],
								["EPQ", "A*"]]
					},
					{
						location:"Thorpe St Andrew School & Sixth Form",
						website:"https://tsa-edu.co.uk/",
						title:"GCSE",
						start: "2017",
						end: "2022",
						skills: ["Python", "Maths"],
						grades: [["Mathematics", "9"],
								["Computer Science", "9"],
								["Combined Science", "9 9"],
								["Art & Design", "9"],
								["Design & Technology", "9"],
								["Geography", "9"],
								["English Literature", "8"],
								["English Language", "7"],
								["Creative iMedia", "7"]]
					}
];

const skills: string[] = [];
education.forEach((experience) => {
	var skill = experience.skills;
	skill.forEach((item) => {
		if (skills.includes(item) === false) {
			skills.push(item);
		}
	});
});

---

<!-- MY PLAN 
. Make the website have a light mode, dark mode, system mode, and a separate time mode.
  - The time mode changes the side to be in e.g sunrise/sunset, twilight, night, day, etc.
. Make Lola's Birthday bit look nice
. Mobile version

-->


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<main>
			<div id="landing">
				<h1></h1>
				<p>TESTIt's nice to meet you!</p>
				<p id="info-para">I'm Lola, a passionate {identity.occupation} at {identity.occupation_company}. I really enjoy making things, from drawing to coding. Feel free to checkout my blog or portfolio if you're interested in the tech-side of things! Or you can scroll to see my skills and education.</p>
				{birthday === getTodaysDate() && <p>It's Lola's birthday today! {getTodaysDate()}</p>}
				<Social />
			</div>
			<div class="triangle-up"></div>
			<div id="space"></div>
			<div id="content">
				<h2>MY SKILLS</h2>
				<ul id="skills">
					{skills.map((skill) => <li class="skill">{skill}</li>)}
				</ul>
				
				<h2>EDUCATION</h2>
				<ul id="education">
					{education.map((experience) => 
							<div>
								<h3><a href={experience.website}>{experience.location}</a></h3>
								<h4>{experience.title}</h4>
								<ul id="grades">
									{experience.grades.map((grade) => grade[0] ? <li>{grade[0]} - {grade[1]}</li> : <li>{grade[1]}</li>)}
								</ul>
								<p>{experience.start} - {experience.end}</p>
								<ul id="educ-skills">
									{experience.skills.map((skill) => <li class="skill">{skill}</li>)}
								</ul>
							</div>)}
				</ul>
			</div>
		</main>
		<Footer />
		<script>
			import "../scripts/indexMenu.js";
		</script>
	</body>
</html>
